.head-description {
	h3 {
		padding-top: rem-calc(40);
		padding-bottom: rem-calc(20);
	}
	h1, p, hr {
		padding-bottom: rem-calc(30);
	}
}

/* This parent can be any width and height */
.img-centerer{
  text-align: center;
}
 
/* The ghost, nudged to maintain perfect centering */
.img-centerer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.img-centerer img {
  display: inline-block;
  vertical-align: middle;
}
.cv-btn {
	padding-left: rem-calc(35);
	padding-right: rem-calc(40);
	margin-right: rem-calc(5);
	i {
		padding-right: rem-calc(10);
	}
}
.parallax-top {
	padding-top: rem-calc(70);
	padding-bottom: rem-calc(78);
}
.hero {
 background: rgb(28, 187, 155) url(img/polygon.svg);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  margin-bottom: rem-calc(80);

  h1, p, h3 {
  	color: #fff;
  }
}
.hero, .content{
  position:relative;
  width: 100%;
}
.details-buttons {
	padding-top: 17px;
}

/* .hero .inner{
  background: rgba(28, 187, 155, 0.8);
} */
.profile, .approach {
	padding-bottom: 70px;
}
.profile {
	background: url(img/mesh.svg) repeat-x;
}
.no-svg .profile {
  background-image: url(img/mesh.png) repeat-x;
}
.approach {
	padding-top: 70px;
	background: #e4eae8;
}
//small only
@media only screen and (max-width: 40em) { 
	.cv-btn {
		width: 100%;
	}
}
// medium up 
@media only screen and (min-width: 40.063em) { 
	.content-page {
		padding-left: 4%;
		padding-right: 4%;
	}
}
// Large
@media only screen and (min-width: 64.063em) { 
	.content-page {
		padding-left: 7%;
		padding-right: 7%;
	}
}
// Xlarge
@media only screen and (min-width: 90.063em) { 
	.head-description h1 {
		font-size: 400%;
	}
	.content-page {
		padding-left: 13%;
		padding-right: 13%;
	}
}