.head-description {
	h3 {
		padding-top: rem-calc(40);
		padding-bottom: rem-calc(20);
	}
	h1, p, hr {
		padding-bottom: rem-calc(30);
	}
}

/* This parent can be any width and height */
.img-centerer{
  text-align: center;
}
 
/* The ghost, nudged to maintain perfect centering */
.img-centerer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.img-centerer img {
  display: inline-block;
  vertical-align: middle;
}
.cv-btn {
	padding-left: rem-calc(35);
	padding-right: rem-calc(40);
	margin-right: rem-calc(5);
	i {
		padding-right: rem-calc(10);
	}
}
.parallax-top {
	padding-top: rem-calc(70);
	padding-bottom: 6rem;
}
.hero {
  background: rgb(28, 187, 155) url(../img/polygon.svg) 50% 0 no-repeat;
  background-size:cover;
  margin-bottom: rem-calc(100);

  h1, h4, h3 {
  	color: #fff;
  }
}
.parallax-trigger {
	background-attachment:fixed;
}
.no-svg .hero {
  background-image: url(../img/polygon.png) repeat-x;
}
.hero, .content{
  position:relative;
  width: 100%;
}
.details-buttons {
	padding-top: 17px;
}

//.hero .inner{
//  background: rgba(28, 187, 155, 0.8);
//}
.profile, .approach {
	padding-bottom: 70px;
}
.profile {
	background: url(../img/mesh.svg) repeat-x;
}
.no-svg .profile {
  background-image: url(../img/mesh.png) repeat-x;
}
.approach {
	padding-top: 70px;
	background: #e4eae8;
}
.skill-list {
	display: inline-block;
	list-style-type: none;
	margin-left: 0;
	width: 49%;

	li {
		margin-bottom: rem-calc(4);
		padding: rem-calc(14) 0 rem-calc(14) rem-calc(30);
		width: 100%;
		background: rgb(220, 220, 220);
	}
	
}

//small only
@media only screen and (max-width: 40em) { 
	.cv-btn {
		width: 100%;
	}
	.skill-list {
		width: 100%;
		margin-bottom: 0;
	}
	.profile h4, .approach h4 {
		font-size: 1.375rem;
	}
}
// medium up 
@media only screen and (min-width: 40.063em) { 
	.content-page {
		padding-left: 4%;
		padding-right: 4%;
	}
}
// Large
@media only screen and (min-width: 64.063em) { 
	.content-page {
		padding-left: 7%;
		padding-right: 7%;
	}
}
// Xlarge
@media only screen and (min-width: 90.063em) { 
	.head-description h1 {
		font-size: 400%;
	}
	.content-page {
		padding-left: 13%;
		padding-right: 13%;
	}
}
// XX large
@media only screen and (min-width: 118.6em) { 
	.head-description h1 {
		font-size: 400%;
	}
	.content-page {
		padding-left: 16%;
		padding-right: 16%;
	}
}