@mixin transition($type, $dur, $ease) {
  	-webkit-transition: $type $dur $ease;
    -moz-transition: $type $dur $ease;
    transition: $type $dur $ease;
}

.post-nav {
	
	.button {
		padding: rem-calc(8) rem-calc(12);
		width: rem-calc(40);
		height: rem-calc(40);
		font-size: rem-calc(20);
	}
	.icon-th {
		font-size: 87%;
		padding-top: rem-calc(12);
	}
}
.share-links {
	padding: rem-calc(9) rem-calc(11);
	width: rem-calc(40);
	height: rem-calc(40);
	font-size: rem-calc(19);
	border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.wrapper-dropdown {
	margin-top: rem-calc(30);
}
// Custom dropdown

.wrapper-dropdown .share-dropdown {

	margin-top: rem-calc(-60);
	margin-left: rem-calc(40);
    /* Styles */
    @include transition(all, 0.15s, ease-out);
    list-style: none;
 
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}
.wrapper-dropdown .share-dropdown li a {
	@include transition(all, 0.15s, ease-out);
}
 
.wrapper-dropdown.active .share-dropdown {
    opacity: 1;
    pointer-events: auto;
}
.portfolio-images ul {
	margin: 0;
}
@media only screen {  
	.right-open {
		right: 0rem;
	}
	.description-sticky {
		height: 100%;
		top: 0px;
		right: 0;
		z-index: 1;
		background: none repeat scroll 0% 0% rgb(255, 255, 255);
		padding: rem-calc(20) rem-calc(40) rem-calc(20) rem-calc(40p);
		width: 100%;
		position: relative;
	}
	.portfolio-images {
		width: 100%;
		img {
			width: 100%;
		}
	}
}

// Medium screens
@media only screen and (min-width: rem-calc(817)) { 
	.right-open {
		right: -15rem;
	}
	.description-sticky {
		padding: rem-calc(20) + rem-calc(50) rem-calc(40) rem-calc(50) rem-calc(40p);
		width: 35%;
		position: fixed;
	}
	.portfolio-images {
		width: 65%;
		img {
			width: 100%;
		}
	}
}
// Large screens
@media only screen and (min-width: 64.063rem) { 
	.description-sticky {
		width: 30%;
		padding: rem-calc(35) rem-calc(40) rem-calc(50) rem-calc(40);
	}
	.portfolio-images {
		width: 68.6%;
		img {
			width: 100%;
		}
	}
}
//Short 
@media screen and (max-height: 36em){
	.description-sticky {
		overflow-y: scroll;
		
	}
}
