@import "settings";
@import "foundation";
@import "icons";
@import "portfolio-post";

/*------//MENU NAV//------*/

$spmenu-width: rem-calc(240);
$spmenu-logo-gap: $spmenu-width - rem-calc(150);

@mixin transition($type, $dur) {
  	-webkit-transition: $type $dur ease;
    -moz-transition: $type $dur ease;
    transition: $type $dur ease;
}
@mixin transform($size) {
		-webkit-transform: translateY($size);
		-moz-transform: translateY($size);
		-ms-transform: translateY($size);
		transform: translateY($size);
}

// Tab bar
$tab-bar-width: 5rem;

html {
	overflow-y: scroll;
   	overflow-x: hidden;

}
.tab-bar {
	width: 100%;
	top: 0;
	height: 3.125rem;
	position: fixed;
	background: none repeat scroll 0% 0% rgb(51, 51, 51);
	z-index: 1001;
	cursor: pointer;
}
.close-menu {
	// display: none;
	height: 100%;
	width: 100%;
}
.block-grid-work {
	height: 100%;
	padding-left: none;
	margin-left: -1.125rem;
	margin-top: 3.125rem;
	left: 0;
}
.left-off-canvas-toggle {
	cursor: pointer;
	height: 100%;
}
#menu-icon {
	width: rem-calc(23);
	cursor: pointer;
	display: block;
	font-size: rem-calc(35);
	color: rgb(100, 100, 100);
	transition: color 150ms ease 0s;
}
#menu-icon:hover {
	color: rgb(80, 80, 80);
}
.logo-small {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: rem-calc(-20);
	margin-top: rem-calc(-20);
}
// Off-canvas menu
.spmenu {
	// background: #47a3da;
	background-color: rgb(30, 30, 30);
    position: fixed;
    width: $spmenu-width;
    height: 100%;
    top: 0;
    z-index: 1000;

	h3 {
	    color: #afdefa;
	    font-size: 1.9rem;
	    padding: 1.25rem;
	    margin: 0;
	    font-weight: 300;
	    background: #0d77b6;
	}
	
}
.nav-list {
	position: absolute;
 	width: 100%;
	height: 100px;
	left: 0px;
	// top: 30%; 
	margin-top: rem-calc(30);

	a {
		padding: 1rem;
		padding-left: rem-calc(43);
		display: block;
		color: #fff;
		font-size: 1.1rem;
		font-weight: 300;
		border-bottom: 1px solid rgb(35, 35, 35);
	}
	a:hover {
    	background: rgb(35, 35, 35);
	}
	a:active {
	    background: rgb(70, 70, 70);
	}
}
.nav-current {
	background: rgb(35, 35, 35);
	border-left: solid rem-calc(10) rgb(50, 50, 50);
	a {
		padding-left: rem-calc(33);
	}
}

.nav-logo {
	margin-top: rem-calc(25);
	margin-left: $spmenu-logo-gap / 2;
}

.copyright {
	padding: 0px 0px 1rem 2.5rem;
	position: absolute;
	left: 0px;
	bottom: 0px;

	small {
		color: rgb(80, 80, 80);
	}
}

.stalk-button {
	@extend .button;
	padding: 0.8625rem 2.9rem 0.8rem;
	border-bottom: 4px solid rgb(28, 28, 28);
	background-color: rgb(40, 40, 40);
	@include transition(all, 0.1s);
}
.stalk-button:hover {
	background-color: rgb(49, 49, 49);
}
.stalk-button:focus {
	background-color: rgb(40, 40, 40);
}
.stalk-button:active {
	border-bottom: 1px solid rgb(28, 28, 28);
}
.socialism {
	position: absolute;
	bottom: rem-calc(20);
	padding-left: 2.5rem;

	i {
		font-size: rem-calc(30);
		color: rgb(90, 90, 90);
		padding: rem-calc(8) rem-calc(5) rem-calc(8) 0;
	}
	i:last-child {
		padding-right: 0;
	}
	i:first-child {
		margin-left: rem-calc(10);
		padding-right: rem-calc(5);
	}
}	
.stalk-dropdown {
	margin-top: -108px;
	width: rem-calc(155);
	&:before {
      @include css-triangle($f-dropdown-triangle-size, $f-dropdown-triangle-color, top);
      position: absolute;
   	  top: rem-calc(48);
      z-index: 99;
    }
    &:after {
      @include css-triangle($f-dropdown-triangle-size + 1, $f-dropdown-border-color, top);
      position: absolute;
      top: rem-calc(48);
      z-index: 98;
    }

    &.right:before {
      left: auto;
      right: $f-dropdown-triangle-side-offset;
    }
    &.right:after {
      left: auto;
      right: $f-dropdown-triangle-side-offset - 1;
    }
}
/* Animation classes */

// Push menu
.spmenu-left {
    left: -15rem;
}
 
.spmenu-left.spmenu-open,
.tab-bar-left {
    left: 0;
}

// Push body and tab bar
.spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.spmenu-push-toright,
.tab-bar-left.tab-bar-open {
    left: 15rem;
}

// CSS transition config
.spmenu,
.spmenu-push, 
.tab-bar-active,
.description-sticky {
    @include transition(all, 0.3s);
}

/*------//BLOCK GRID//------*/

.block-grid-work {
	[class*="block-grid-"]:after {
    clear: none;
	}
	ul {
		-webkit-margin-before: 0rem;
		-webkit-margin-after: 0rem;
	}
}
.large-block-grid-3 {
	img {
		max-width: none;
		width: 100%;
	}
} 

.portfolio-grid {
	li {
		display: inline-block;
	}
	/* figcaption span:before {
		content: 'by ';
	} */
	figure {
		margin: 0;
		position: relative;
		overflow: hidden;
	}
	figure img {
		max-width: none;
		width: 100%;
		display: block;
		position: relative;

		-webkit-transition: -webkit-transform 0.4s;
		-moz-transition: -moz-transform 0.4s;
		transition: transform 0.4s;
	}
	figcaption {
		position: absolute;
		left: 0;
		padding: 20px;
		background: #2c3f52;
		color: #ed4e6e;
		height: 100px;
		width: 100%;
		top: auto;
		bottom: 0;
		opacity: 0;

		@include transform(100%);

		-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
		-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
		transition: transform 0.4s, opacity 0.1s 0.3s;
	}
	figcaption h3 {
		margin: 0;
		padding: 0;
		color: #fff;
	}
	figcaption a {
		text-align: center;
		padding: 5px 10px;
		border-radius: 2px;
		display: inline-block;
		background: #ed4e6e;
		color: #fff;

		position: absolute;
		bottom: 20px;
		right: 20px;
	}
}

.no-touch .portfolio-grid figure:hover img,
.portfolio-grid figure.cs-hover img {
	@include transform(-50px);
}

.no-touch .portfolio-grid figure:hover figcaption,
.portfolio-grid figure.cs-hover figcaption {
	opacity: 1;
	@include transform(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

/*------//CONTACT MODAL//------*/

.submit-btn {
	width: 100%;
}

/*------//JOURNAL PAGE//------*/

.sidebar {
	float:right;
	width: rem-calc(240);
}
.sticky-sidebar .panel {
	width: rem-calc(240);
}
/*------//MEDIA QUERIES//------*/

// Mobile
@media only screen { 
	.wrapper {
		padding-left: rem-calc(0);
		padding-top: 3.125rem;
	}

	#menu-icon {
		margin: rem-calc(7) 0 0 rem-calc(20);
	}
	.name-field {
		margin-right: 0;
	}
	.submit-btn {
		width: 100%;
	}
	.top-reveal-field {
		width: 100%;
		float: left;
	}
	.textarea-field textarea{
		height: rem-calc(115);
	}
	.stalk-dropdown {
		margin-left: rem-calc(36); 
		width: rem-calc(155) !important; 
		max-width: 100% !important; 
	}

}

// Medium
@media only screen and (min-width: 40.063em) { 
	.wrapper {
		padding-left: rem-calc(0);
		padding-top: 3.125rem;
	}
	#menu-icon {
		margin: rem-calc(7) 0 0 rem-calc(20);
	}
	.name-field {
		margin-right: 5%;
	}
	.submit-btn {
		width: 100%;
	}
	.top-reveal-field {
		width: 47.5%;
		float: left;
	}
	.textarea-field textarea{
		height: 10rem;
	}
	.stalk-dropdown {
		margin-left: rem-calc(0); 
	}

}
// Large screens
@media only screen and (min-width: 64.063em) { 
	.wrapper {
		padding-top: rem-calc(0);
		padding-left: rem-calc(80);
	}
	#menu-icon {
		margin: rem-calc(20) 0 0 rem-calc(27);
	}
	.tab-bar {
		width: $tab-bar-width;
		top: 0;
		bottom: 0;
		height: 100%;
	}
	.block-grid-work {
		padding-left: $tab-bar-width;
		margin-top: 0;
	}
	.submit-btn {
		width: rem-calc(220);
	}

}

// XLarge screens
@media only screen and (min-width: 90.063em) { 

	.xlarge-grid {
	  @include block-grid(
	    $per-row: 4
	  );
	}

}

// Short screens (left nav)
@media screen and (max-height: 35em){
 
 	.nav-list {
	 	position: absolute;
	 	width: 100%;
		height: 100px;
		left: 0px;
		// top: 30%; 
		margin-top: rem-calc(20);
	}
	.nav-logo {
	 	width: rem-calc(120);
		margin-top: rem-calc(25);
		margin-left: rem-calc(70) / 2;
	}
    .spmenu {
        width: rem-calc(190);
    }
    .nav-list {
    	a {
      		font-size: 90%;
      		padding: 0.8rem;
      		padding-left: 2.0625rem;
      	}
    }
    .nav-current {
    	border-left: solid rem-calc(8) rgb(50, 50, 50);
		a {
			padding-left: rem-calc(25);
		}
	}
 	.copyright {
		padding: 0px 0px 1rem 2.0625rem;
	}
    // Push menu
	.spmenu-left,
    .spmenu-push-toleft {
        left: rem-calc(-190);
    }
	// Push tab bar
	.tab-bar-left {
		left: 0;
	}
	.tab-bar-left.tab-bar-open {
	    left: rem-calc(190);
	}
	// Push body 
	.spmenu-push-toright {
        left: rem-calc(190);
    }
 	.stalk-button {
		padding: 0.8625rem 2.7rem 0.8rem;
		font-size: 80%;
		margin-left: rem-calc(-10);
	}

}
@media screen and (max-height: 28.3em){
	.nav-logo {
		display: none;
	}
}