@import "wp-info";
@import "settings";
@import "foundation";
@import "icons";
@import "portfolio-post";
@import "details";

/*------//GLOBAL//------*/

$primary-color-dark: #1aa382;
$nblue: #354a5f;
$nblue-dark: #2c3e50;

.btn-border {
	border-bottom: 4px solid $primary-color-dark;
}
html {
	overflow-y: scroll;
   	overflow-x: hidden;
}
@mixin transition($type, $dur) {
  	-webkit-transition: $type $dur ease;
    -moz-transition: $type $dur ease;
    transition: $type $dur ease;
}
@mixin transform($size) {
		-webkit-transform: translateY($size);
		-moz-transform: translateY($size);
		-ms-transform: translateY($size);
		transform: translateY($size);
}
p {
	font-size: 1.04rem;
}

/*------//MENU NAV//------*/

$spmenu-width: rem-calc(240);
$spmenu-logo-gap: $spmenu-width - rem-calc(150);
$tab-bar-width: 5rem;

.tab-bar {
	width: 100%;
	top: 0;
	height: 3.125rem;
	position: fixed;
	background: none repeat scroll 0% 0% rgb(51, 51, 51);
	z-index: 1001;
	cursor: pointer;
}
.close-menu {
	// display: none;
	height: 100%;
	width: 100%;
}

.left-off-canvas-toggle {
	cursor: pointer;
	height: 100%;
}
#menu-icon {
	width: rem-calc(23);
	cursor: pointer;
	display: block;
	font-size: rem-calc(35);
	color: rgb(100, 100, 100);
	transition: color 150ms ease 0s;
}
#menu-icon:hover {
	color: rgb(80, 80, 80);
}
.logo-small {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: rem-calc(-20);
	margin-top: rem-calc(-20);
}
// Off-canvas menu
.spmenu {
	// background: #47a3da;
	background-color: rgb(30, 30, 30);
    position: fixed;
    width: $spmenu-width;
    height: 100%;
    top: 0;
    z-index: 1000;

	h3 {
	    color: #afdefa;
	    font-size: 1.9rem;
	    padding: 1.25rem;
	    margin: 0;
	    font-weight: 300;
	    background: #0d77b6;
	}
	
}
.nav-list {

	position: absolute;
 	width: 100%;
	height: rem-calc(100);
	left: 0px;
	// top: 30%; 
	margin-top: rem-calc(30);
	a {
		@include transition(opacity, 0.3s);
		background: rgb(30, 30, 30);
		padding: 1rem;
		padding-left: rem-calc(43);
		display: block;
		color: #fff;
		font-size: 1.1rem;
		font-weight: 300;
		border-bottom: 1px solid rgb(35, 35, 35);
	}
	a:hover {
    	background: rgb(35, 35, 35);
	}
	a:active {
	    background: rgb(70, 70, 70);
	}
	ul:first-child {
		border-top: 1px solid rgb(35, 35, 35);
	}
}
.current_page_item {

	
	border-left: solid rem-calc(8) /* rgb(50, 50, 50) */ $primary-color;
	a {
		padding-left: rem-calc(33);
		color: $primary-color;
		background: rgb(35, 35, 35);
	}
	a:active {
		background: rgb(35, 35, 35);
	}
}

.nav-logo {
	width: rem-calc(160);
	margin-top: rem-calc(28);
	margin-left: $spmenu-logo-gap / 2;
	 @include transition(all, 0.3s);
}

.copyright {
	padding: 0 0 1rem 2.5rem;
	position: absolute;
	left: 0;
	bottom: 0;

	small {
		color: rgb(80, 80, 80);
	}
}
.socialism {
	position: absolute;
	bottom: rem-calc(20);
	padding-left: 1.5rem;
	li {
		list-style: none outside none;
		display: inline-block;
	}
	a {
		@include transition(all, 0.3s);
		font-size: rem-calc(25);
		color: rgb(90, 90, 90);
		padding: rem-calc(8) rem-calc(10) rem-calc(8) 0;
	}
	ul:last-child {
		padding-right: 0;
	}
	a:hover {
		color: $primary-color;
	}
}	
.reveal-modal {

	border-top: 6px solid $primary-color;
	overflow: visible;
}
/* Animation classes */

// Push menu
.spmenu-left {
    left: -15rem;
    a {
	    opacity: 0;
	}
}
 
.spmenu-left.spmenu-open,
.tab-bar-left {
    left: 0;
    a {
		opacity: 1;
	}
}

// Push body and tab bar
.spmenu-push {
	
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.spmenu-push-toright,
.tab-bar-left.tab-bar-open {
    left: 15rem;
}

// CSS transition config
.spmenu,
.spmenu-push, 
.tab-bar-active {
    @include transition(left, 0.3s);
}

/*------//BLOCK GRID//------*/

.block-grid-work {
	[class*="block-grid-"]:after {
    clear: none;
	}
	ul {
		-webkit-margin-before: 0rem;
		-webkit-margin-after: 0rem;
	}
	height: 100%;
	padding-left: 0;
	left: 0;
}
.large-block-grid-3 {
	img {
		max-width: none;
		width: 100%;
	}
} 

.portfolio-grid {
	li {
		display: inline-block;
	}
	/* figcaption span:before {
		content: 'by ';
	} */
	figure {
		margin: 0;
		position: relative;
		overflow: hidden;

	}
	figure img {
		max-width: none;
		width: 100%;
		display: block;
		position: relative;


	}
	figcaption {
		position: absolute;
		left: 0;
		text-align: center;
		padding: rem-calc(20);
		background: rgba(28, 187, 155, 0.5);
		color: #fff;
		height: 100%;
		width: 100%;
		top: auto;
		bottom: 0;
		opacity: 0;
		@include transition(all, 0.3s);
	}

	figcaption:before {
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;
	  margin-right: -0.25em; /* Adjusts for spacing */
	}
	.figure-text {
		display: inline-block;
  		vertical-align: middle;
  		@include transform(rem-calc(30)); 
  		@include transition(all, 0.3s);
	}
	figcaption h3 {
		color: #fff;
		margin-bottom: rem-calc(-4);
	}
	span {
		color: #fff;
		font-size: rem-calc(13);
	}
}
.portfolio-grid figure:hover figcaption {
	opacity: 1;
}
.portfolio-grid figure:hover figcaption .figure-text {
	@include transform(0px);
}

/*------//CONTACT MODAL//------*/

.submit-btn {
	width: 100%;
}

/*------//JOURNAL PAGE//------*/

.sidebar {
	float:right;
	width: rem-calc(240);
}
.sticky-sidebar .panel {
	width: rem-calc(240);
}
/*------//MEDIA QUERIES//------*/

// Small screens up
@media only screen { 
	.wrapper {
		margin-left: rem-calc(0);
		margin-top: 3.125rem;
	}

	#menu-icon {
		margin: rem-calc(7) 0 0 rem-calc(20);
	}
	.name-field {
		margin-right: 0;
	}
	.submit-btn {
		width: 100%;
	}
	.top-reveal-field {
		width: 100%;
		float: left;
	}
	.textarea-field textarea{
		height: rem-calc(115);
	}

}

// Medium screens up
@media only screen and (min-width: 40.063em) { 
	.wrapper {
		margin-left: rem-calc(0);
		margin-top: 3.125rem;
	}
	#menu-icon {
		margin: rem-calc(7) 0 0 rem-calc(20);
	}
	.name-field {
		margin-right: 5%;
	}
	.submit-btn {
		width: 100%;
	}
	.top-reveal-field {
		width: 47.5%;
		float: left;
	}
	.textarea-field textarea{
		height: 10rem;
	}

}
// Large screens up
@media only screen and (min-width: 64.063em) { 
	.wrapper {
		margin-top: rem-calc(0);
		margin-left: rem-calc(80);
	}
	#menu-icon {
		margin: rem-calc(20) 0 0 rem-calc(27);
	}
	.tab-bar {
		width: $tab-bar-width;
		top: 0;
		bottom: 0;
		height: 100%;
	}
	.submit-btn {
		width: rem-calc(220);
	}

}

// XLarge screens up
@media only screen and (min-width: 90.063em) { 

	.xlarge-grid {
	  @include block-grid(
	    $per-row: 4
	  );
	}

}

// Short screens (left nav)
@media screen and (max-height: 35em){
 
 	.nav-list {
	 	position: absolute;
	 	width: 100%;
		height: 100px;
		left: 0px;
		// top: 30%; 
		margin-top: rem-calc(20);
	}
	.nav-logo {
	 	width: rem-calc(120);
		margin-top: rem-calc(25);
		margin-left: rem-calc(70) / 2;
	}
    .spmenu {
        width: rem-calc(190);
    }
    .nav-list {
    	a {
      		font-size: 90%;
      		padding: 0.8rem;
      		padding-left: 2.0625rem;
      	}
    }
    .nav-current {
    	border-left: solid rem-calc(8) $primary-color;
		a {
			padding-left: rem-calc(25);
		}
	}
 	.copyright {
		padding: 0px 0px 1rem 2.0625rem;
	}
    // Push menu
	.spmenu-left,
    .spmenu-push-toleft {
        left: rem-calc(-190);
    }
	// Push tab bar
	.tab-bar-left {
		left: 0;
	}
	.tab-bar-left.tab-bar-open {
	    left: rem-calc(190);
	}
	// Push body 
	.spmenu-push-toright {
        left: rem-calc(190);
    }
    .socialism a {
    	font-size: 98%;
    }

}
@media screen and (max-height: 28.3em){
	.nav-logo {
		display: none;
	}
}